# Prototipo no-LFS per asset web
* text=auto

*.png binary !filter
*.jpg binary !filter
*.jpeg binary !filter
*.gif binary !filter
*.webp binary !filter
*.ico binary !filter
*.svg binary !filter
*.pdf binary !filter
*.zip binary !filter
*.woff binary !filter
*.woff2 binary !filter
*.ttf binary !filter
*.eot binary !filter
*.otf binary !filter
*.png !text !filter !merge !diff
*.svg !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.jpeg !text !filter !merge !diff
*.gif !text !filter !merge !diff
*.webp !text !filter !merge !diff
